:root {
  --rand: #98b8eb;
}

.randomcolorheader {
  color: var(--rand);
  text-decoration: none;
}

form {display: table;}
.rowp{display: table-row; }
label{display: table-cell;
      text-align: right;}
input{display: table-cell;}
.btn {margin: 5px;}
.righta { text-align: right;}

